<!doctype html>
<html lang="{{ metadata.language }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ Title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">

    <!-- favicon from https://www.flaticon.com/free-icon/magazine_7141764 -->
    <link rel="icon" type="image/png" href="{{Site.BaseUrl}}/static/logo64.png" />
    <link rel="stylesheet" href="{{Site.BaseUrl}}/static/css/style.css">

    <!-- TODO: fix these -->
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">
  </head>
  <body>
    {{ content | safe }}
  </body>
</html>
