---
layout: layouts/tagged.njk
pagination:
  data: Data.Tags
  size: 1
  alias: Tag
permalink: "/tags/{{ Tag }}/index.html"
eleventyComputed:
  Title: "{{Data.Site.Title}} | {{Tag}}"
---

{{ content | safe }}
